# Stock Data Preparation Demo

Today we will do a simple experiment on a stock prediction case. 

In order to save time on preparing the data, I'd like to introduce **TuShare**. You can use any other data source if you don't want to deal with Chinese stock market or you are not familiar with Chinese (TuShare's doc is all Chinese). 

In addition, you can have as many features as you want unless you keep the close price (the one we want to predict!) as the last column in your Pandas DataFrame.

**This is just a demo about how to use TuShare and deal with its data. You can find a separate (and simple) script with instructions about fetching more detailed data.**

In [1]:
import tushare as ts # TuShare is a utility for crawling historical data of China stocks
import pandas as pd

print(ts.__version__)

0.7.4

In [2]:
stock_index = '600019' # You can enter the stock you are interested in
csv_name = 'stock-{}'.format(stock_index)
start_date = '2016-01-01'
end_date = None # We will use today as the end date here, you can specify one if you want

In [3]:
df = ts.get_h_data(stock_index, start=start_date, autype=None)
df.head()

[Getting data:]############

            open  high  close   low      volume       amount
date
2019-02-01  7.06  7.08   7.07  6.98  29883947.0  210081906.0
2019-01-31  6.95  7.03   7.01  6.94  38989196.0  272627926.0
2019-01-30  6.93  7.02   6.94  6.88  30774366.0  213351322.0
2019-01-29  6.83  6.99   6.97  6.80  43150351.0  297580011.0
2019-01-28  6.94  7.02   6.85  6.82  44702814.0  309362609.0

In [4]:
df = df.reset_index(drop=True)
df.head()

   open  high  close   low      volume       amount
0  7.06  7.08   7.07  6.98  29883947.0  210081906.0
1  6.95  7.03   7.01  6.94  38989196.0  272627926.0
2  6.93  7.02   6.94  6.88  30774366.0  213351322.0
3  6.83  6.99   6.97  6.80  43150351.0  297580011.0
4  6.94  7.02   6.85  6.82  44702814.0  309362609.0

## Change Column Order

We will keep 'close' as our last column.

In [5]:
col_list = df.columns.tolist()
col_list

['open', 'high', 'close', 'low', 'volume', 'amount']

In [6]:
col_list.remove('close')
col_list.remove('amount') # Just for simplicity, should not be removed
col_list.append('close')
col_list

['open', 'high', 'low', 'volume', 'close']

In [7]:
df = df[col_list]
df.head()

   open  high   low      volume  close
0  7.06  7.08  6.98  29883947.0   7.07
1  6.95  7.03  6.94  38989196.0   7.01
2  6.93  7.02  6.88  30774366.0   6.94
3  6.83  6.99  6.80  43150351.0   6.97
4  6.94  7.02  6.82  44702814.0   6.85

In [8]:
df['volume'] = df['volume'] / 1000000
df.head()

   open  high   low     volume  close
0  7.06  7.08  6.98  29.883947   7.07
1  6.95  7.03  6.94  38.989196   7.01
2  6.93  7.02  6.88  30.774366   6.94
3  6.83  6.99  6.80  43.150351   6.97
4  6.94  7.02  6.82  44.702814   6.85

## Save Data

In [9]:
df.to_csv(csv_name, index=False)

Let's have a double check whether the data is saved properly.

In [10]:
validate_df = pd.read_csv(csv_name)
validate_df.head()

   open  high   low     volume  close
0  7.06  7.08  6.98  29.883947   7.07
1  6.95  7.03  6.94  38.989196   7.01
2  6.93  7.02  6.88  30.774366   6.94
3  6.83  6.99  6.80  43.150351   6.97
4  6.94  7.02  6.82  44.702814   6.85

**Great, it works!**